<div class="container">
  <form>
    <div class="row form-group form-inline searchBar">
      <div class="col-lg-8 form-group form-inline searchBar">
        <h5>Search by <code>SYMBOL</code> or <code>DESCRIPTION</code>: 
        <input 
          type="search" 
          placeholder="Search" 
          class="form-control ml-2" 
          name="searchTerm" 
          [(ngModel)]="dataService.searchTerm"></h5>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary">+ Add to watch list</button>
      </div> 
      <div class="col-lg-1">
          <button type="button" class="btn btn-danger">Remove</button>
      </div> 
      <div class="col-lg-1">
          <button type="button" class="btn btn-success">Save</button>
      </div> 
      
    </div>
    <div class="row">
      <div class="col-lg-8">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Description</th>
              <th scope="col">Currency</th>
              <th scope="col">Stock Exchange</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              *ngFor="let data of (shares$ | async); let i = index " 
              style="cursor: pointer;" 
              [class.active]="i === selectedRow" 
              (click)="setSelectedRow(i)">
              <td>
                <ngb-highlight [result]="data.Symbol" 
                [term]="dataService.searchTerm"></ngb-highlight>
              </td>

              <td>
                <ngb-highlight [result]="data.Name" 
                [term]="dataService.searchTerm"></ngb-highlight>
              </td>

              <td>{{ data.Currency }}</td>

              <td>{{ data["StockExchangeLong"] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="col-lg-1"></div> -->
      <div class="col-lg-4"><app-watchlist></app-watchlist></div>
    </div>
  </form>
</div>